body{
    background-color: rgb(58, 49, 63);
    padding: 0px;
    margin: 0px;
}
h1{
    top:none;
    margin-top: 0px;
    padding: 50px;
    color: rgb(225, 78, 215);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #231f20;
  
}
.selectionBox{
   
    display: flex;
    margin-bottom: 300px;
    justify-content: space-evenly;
    margin-left: -250px;
}
.choicesBox{

    display: flex;
    justify-content: space-evenly;
  

}
#btn{   
    margin-left: 30px;
    margin-right:30px;
    color: transparent;
    width: 0px;
    height: 0px;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    border: none;
   


  

}
.rock-img   
{

    border-radius: 50%;
    background-color: none;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.choices{
    color: rgb(69, 252, 255);
    font-size: 30px;
    
    font-family: 'Rubik Mono One', sans-serif;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #231f20;
}
.versusText{  -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #231f20;



    color: rgb(69, 252, 255);
    font-size: 80px;
    
    
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    align-self:center;}
.choiceText{

    text-align: center;
}
.choiceImg{
    width: 250px;
}
.scores{
    color: rgb(246, 238, 25);
    font-size: 30px;
 
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#winMessage{
    color: rgb(220, 49, 194);
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
 
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}