body{
    background-color: rgb(58, 49, 63);
    padding: 0px;
    margin: 0px;
}
h1{
    top:none;
    margin-top: 0px;
    padding: 35px;
    color: rgb(225, 78, 215);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    -webkit-text-stroke-width: 1zpx;
    -webkit-text-stroke-color: #231f20;
  
}
.selectionBox{
   
    display: flex;
    max-height: 200px;
    justify-content: space-evenly;
    padding-bottom: 100px;
  
  
}
.choicesBox{

    display: flex;
    justify-content: space-evenly;
  

}
.selectionButtonContainer{
    width:200px
}
#btn{   

  border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    align-self: center;
   

}
.rock-img   
{

    border-radius: 50%;
    background-color: none;
    width: 200px;
    height: 200px;
   
}

#btn:hover{
    opacity: 1;
    transition: 100ms;

    transform: scale(1.2);
    transform-origin: center;
    
}
#btn:active{
    opacity: 0.9;
}
.choices{
    color: #08e4d4;
    font-size: 30px;
    
    font-family: 'Rubik Mono One', sans-serif;
    
}
.versusText{  -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #231f20;



    color: #08e4d4;
    font-size: 80px;
    
    
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    align-self:center;}
.choiceText{

    text-align: center;
}
.choiceImg{
    width: 250px;
}
.scores{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #231f20;
    color: #ffec4c;
    font-size: 40px;
    text-align: center;
  
    font-family: 'Rubik Mono One', sans-serif;


}
.winMessage{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #231f20;
    color: rgb(220, 49, 194);
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    transition: 400ms;
  
    font-family: 'Rubik Mono One', sans-serif;
}
.winMessageActive{

font-size: 70px;
}